{% load humanize %}
<div class="middle-column">
    <div class="total-confirmed">
        <p id="tc-p1">Cases</p>
        <h1 id="tc-h">{{ country.confirmed_count|intcomma }}</h1>
        <p id="tc-p2">+{{ country.new_confirmed|intcomma }} ({{ country.confirmed_percentage }}%)</p>
    </div>
    <div class="total-deaths">
        <p id="td-p1">Deaths</p>
        <h1 id="td-h">{{ country.death_count|intcomma }}</h1>
        <p id="td-p2">+{{ country.new_death|intcomma }} ({{ country.death_percentage }}%)</p>
    </div>
    <div class="total-vaccinations">
        <p id="tr-p1">Vaccine Doses Administered</p>
        <h1 id="tr-h">{{ country.vaccination_count|intcomma }}</h1>
        <p id="tr-p2">+{{ country.new_vaccination_count|intcomma }} ({{ country.vaccination_percentage }}%)</p>
    </div>
</div>