{% extends 'news/base.html' %}
{% load humanize %}
{% load tz %}

{% block content %}
    <div class="content">
        <div class="last-updated" style="color: #b8b8b8;">
            <p id="updated-p">Last Updated at</p>
            {% for stat in stats %}
                {% timezone "US/Pacific" %}
                    <h1 id="updated-h">{{ stat.last_updated|date:'n/j/Y, g:i:s A' }}</h1>
                {% endtimezone %}
            {% endfor %}
        </div>
        <div class="total-confirmed-stats">
            <div class="total-confirmed-label">
                <p id="tcl-p1"><span style="color: white; font-weight: 700;">Cases</span> and <span style="color:red; font-weight: 700;">Deaths</span> by</p>
                <p id="tcl-p2">Country/Region/Sovereignty</p>
            </div>
            <div class="total-confirmed-table" id="tct">
                <div class="container">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..">
                    <ul id="myUL">
                        {% for country in countries %}
                            <li style="position:relative">
                                <hr style="border-bottom: 1px solid rgb(121, 121, 121); margin: 0;">
                                <div class="selected-tab" id="selected-{{ country.id }}"></div>
                                <button type="button" class="collapsible" id="{{ country.id }}" value="{{ country.name }}"><img src="{{ country.flag.flag }}" style="width: 20px; height: 15px;" alt=""><span id="myUL-s2"> {{ country.name }}</span><br><span id="myUL-s1">{{ country.confirmed_count|intcomma }} | <span style="color: red">{{ country.death_count|intcomma }}</span></span></button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="ajaxify-stats">
            <div class="middle-column">
                <div class="total-confirmed">
                    <p id="tc-p1">Cases</p>
                    {% for stat in stats %}
                        <h1 id="tc-h">{{ stat.total_confirmed|intcomma }}</h1>
                        <p id="tc-p2">+{{ stat.new_confirmed|intcomma }} ({{ stat.confirmed_percentage }}%)</p>
                    {% endfor %}
                </div>
                <div class="total-deaths">
                    <p id="td-p1">Deaths</p>
                    {% for stat in stats %}
                        <h1 id="td-h">{{ stat.total_death|intcomma }}</h1>
                        <p id="td-p2">+{{ stat.new_death|intcomma }} ({{ stat.death_percentage }}%)</p>
                    {% endfor %}
                </div>
                <div class="total-vaccinations">
                    <p id="tr-p1">Vaccine Doses Administered</p>
                    {% for stat in stats %}
                        <h1 id="tr-h">{{ stat.vaccination_count|intcomma }}</h1>
                        <p id="tr-p2">+{{ stat.new_vaccination_count|intcomma }} ({{ stat.vaccination_percentage }}%)</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="trending-news">
            <div class="trending-news-label">
                <p id="trending-p">Trending News</p>
            </div>
            <div class="trending-items">
                {% for trend in trending %}
                    <li style="margin-bottom: 4px;"><a href='{{ trend.link }}' target="_blank" id="trending-a">{{ trend.title }}</a></li>
                {% endfor %}
            </div>
        </div>
        <div id="map">
            <style>
                #geocoder-container > div {
                width: 50%;
                margin-left: 25%;
                }
                .mapboxgl-popup {
                    max-width: 400px;
                    color: black;
                    text-align: center;
                }
            </style>
            <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiZGxlZTM0NTgiLCJhIjoiY2thbm44bmdoMXJoMjMwcWhwYnl2b2tyeCJ9.A6LbEzv-FlxtLfgT0tY_9Q';
            var map = new mapboxgl.Map({
                container: 'map', 
                style: 'mapbox://styles/dlee3458/ckpp6jb8u0ig517omh3mwxh6d', 
                center: [-95.7129, 37.1], 
                zoom: 0.90 
            });

            $('.collapsible').click(function() {
                var country = $(this).attr('value');
                var country_id = $(this).attr('id');
                var url = 'https://api.mapbox.com/geocoding/v5/mapbox.places/country.json?access_token=pk.eyJ1IjoiZGxlZTM0NTgiLCJhIjoiY2thbm44bmdoMXJoMjMwcWhwYnl2b2tyeCJ9.A6LbEzv-FlxtLfgT0tY_9Q';
                var country_url = url.replace('country', country)

                // Undo previously selected country if present
                let prev_country = sessionStorage.getItem('country');
                let iteration = sessionStorage.getItem('iteration');
                if (prev_country) {
                    $('#selected-' + prev_country).css('display', 'none');

                    if (prev_country == country_id && iteration != 0) {
                        $.ajax({
                            type: 'GET',
                            url: '{% url "get-global-stats" %}',
                            dataType: 'json',
                            success: function(response){
                                $(".ajaxify-stats").html(response['stats']);
                                map.flyTo({
                                    center: [-95.7129, 37.1], 
                                    zoom: 0.90 
                                });
                                loadGlobalCharts();
                                sessionStorage.setItem('iteration', 0);
                            }
                        })
                    } else {
                        $.ajax({
                            type: 'GET',
                            url: country_url,
                            dataType: 'json',
                            success: function(result){
                                console.log(result)
                                map.flyTo({
                                    center: result.features[0].center,
                                    zoom: 5,
                                    essential: true
                                });

                                $.ajax({
                                    type: "GET",
                                    url: '{% url "get-country-stats" 999 %}'.replace(999, country_id),
                                    success: function(response){
                                        $('#selected-' + country_id).css('display', 'block');   // Show tab for selected country
                                        $(".ajaxify-stats").html(response['stats']);
                                        sessionStorage.setItem('iteration', 1);
                                    }
                                })
                            },
                            error: function(error){
                                console.log('${error}')
                            }
                        });

                        $.ajax({
                            type: 'GET',
                            url: '{% url "get-country-chart" 999 %}'.replace(999, country),
                            dataType: 'json',
                            success: (jsonResponse) => {
                                $(".ajaxify-charts").html(jsonResponse.data.html);
                                console.log(jsonResponse.data.confirmed_labels)
                                console.log(jsonResponse.data.confirmed_data)
                                let ctx_confirmed = document.getElementById("confirmed-chart").getContext("2d");
                                let ctx_death = document.getElementById("death-chart").getContext("2d");
                                let ctx_vaccination = document.getElementById("vaccination-chart").getContext("2d");
                                let confirmed_chart = new Chart(ctx_confirmed, {
                                    type: "bar",
                                    data: {
                                        labels: jsonResponse.data.confirmed_labels,
                                        datasets: [
                                            {
                                            label: "",
                                            backgroundColor: "#f4c430",
                                            data: jsonResponse.data.confirmed_data,
                                            pointRadius: 1,
                                            }
                                        ]
                                    },
                                    options: {
                                        title: {
                                            text: "Daily Cases",
                                            display: true,
                                            fontSize: 16,
                                            position: "left",
                                            fontColor: 'white',
                                        },
                                        legend: {
                                            display: false,
                                        },
                                    }
                                });
                                let death_chart = new Chart(ctx_death, {
                                    type: "bar",
                                    data: {
                                        labels: jsonResponse.data.death_labels,
                                        datasets: [
                                            {
                                            label: "",
                                            backgroundColor: "#ff4040",
                                            data: jsonResponse.data.death_data,
                                            pointRadius: 1,
                                            }
                                        ]
                                    },
                                    options: {
                                        responsive: true,
                                        title: {
                                            text: "Daily Deaths",
                                            display: true,
                                            fontSize: 16,
                                            position: "left",
                                            fontColor: 'white',
                                        },
                                        legend: {
                                            display: false,
                                        },
                                    }
                                });
                                let vaccination_chart = new Chart(ctx_vaccination, {
                                    type: "bar",
                                    data: {
                                        labels: jsonResponse.data.vaccination_labels,
                                        datasets: [
                                            {
                                            label: "",
                                            backgroundColor: "#228B22",
                                            data: jsonResponse.data.vaccination_data,
                                            pointRadius: 1,
                                            }
                                        ]
                                    },
                                    options: {
                                        responsive: true,
                                        title: {
                                            text: "Total Vaccinations",
                                            display: true,
                                            fontSize: 16,
                                            position: "left",
                                            fontColor: 'white',
                                        },
                                        legend: {
                                            display: false,
                                        },
                                    }
                                });
                            }
                        });
                    }
                }

                sessionStorage.setItem('country', country_id);
            });

            map.on('load', function() {
                map.addSource('infected', {
                    'type': 'geojson',
                    'data': 'worldstats.json/'
                });
            

                map.addLayer({
                    'id': 'infected',
                    'type': 'circle',
                    'source': 'infected',
                    'paint': {
                        'circle-radius': 5,
                        'circle-color': 'skyblue',
                        'circle-opacity': 0.6,
                    }

                });

                var popup = new mapboxgl.Popup({
                    closeButton: false,
                    closeOnClick: false,
                    offset : 0,
                });

                map.on('mouseenter', 'infected', function(e) {
                    // Change the cursor style as a UI indicator.
                    map.getCanvas().style.cursor = 'pointer';
                    
                    var coordinates = e.features[0].geometry.coordinates.slice();
                    var confirmed = e.features[0].properties.Confirmed;
                    var deaths = e.features[0].properties.Deaths;
                    var recovered = e.features[0].properties.Recovered;
                    var state = e.features[0].properties.Place;
                
                    // Ensure that if the map is zoomed out such that multiple
                    // copies of the feature are visible, the popup appears
                    // over the copy being pointed to.
                    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                    }
 
                    // Populate the popup and set its coordinates
                    // based on the feature found.
                    popup
                        .setLngLat(coordinates)
                        .setHTML('<p style="font-size: 24px; color: white;">' + state + '</p><p style="font-size: 16px; color: white;">Confirmed: ' +
                                '<span style="color: #ffbf00; font-weight: 700">' + confirmed + '</span></p><p style="font-size: 16px; color: white;">Recovered: ' + 
                                '<span style="color: green; font-weight: 700">' + recovered + '</span></p><p style="font-size: 16px; color: white;">Deaths: ' + 
                                '<span style="color: red; font-weight: 700">' + deaths
                        )
                        .addTo(map)
                        .addClassName('popup');
                });
 
                map.on('mouseleave', 'infected', function() {
                    map.getCanvas().style.cursor = '';
                    popup.remove();
                });
            });

            var geocoder = new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                marker: {
                    color: 'red'
                },
                mapboxgl: mapboxgl
                });
                
                map.addControl(geocoder);

                // Ajax function to load global charts
                function loadGlobalCharts() {
                    let ctx_confirmed = document.getElementById("confirmed-chart").getContext("2d");
                    let ctx_death = document.getElementById("death-chart").getContext("2d");
                    let ctx_vaccination = document.getElementById("vaccination-chart").getContext("2d");
                    $.ajax({
                        type: 'GET',
                        url: '{% url "get-global-chart" %}',
                        dataType: 'json',
                        success: (jsonResponse) => {
                            let confirmed_chart = new Chart(ctx_confirmed, {
                                type: "bar",
                                data: {
                                    labels: jsonResponse.data.confirmed_labels,
                                    datasets: [
                                        {
                                        label: "",
                                        backgroundColor: "#f4c430",
                                        data: jsonResponse.data.confirmed_data,
                                        pointRadius: 1,
                                        }
                                    ]
                                },
                                options: {
                                    title: {
                                        text: "Daily Cases",
                                        display: true,
                                        fontSize: 16,
                                        position: "left",
                                        fontColor: 'white',
                                    },
                                    legend: {
                                        display: false,
                                    },
                                }
                            });
                            let death_chart = new Chart(ctx_death, {
                                type: "bar",
                                data: {
                                    labels: jsonResponse.data.death_labels,
                                    datasets: [
                                        {
                                        label: "",
                                        backgroundColor: "#ff4040",
                                        data: jsonResponse.data.death_data,
                                        pointRadius: 1,
                                        }
                                    ]
                                },
                                options: {
                                    responsive: true,
                                    title: {
                                        text: "Daily Deaths",
                                        display: true,
                                        fontSize: 16,
                                        position: "left",
                                        fontColor: 'white',
                                    },
                                    legend: {
                                        display: false,
                                    },
                                }
                            });
                            let vaccination_chart = new Chart(ctx_vaccination, {
                                type: "bar",
                                data: {
                                    labels: jsonResponse.data.vaccination_labels,
                                    datasets: [
                                        {
                                        label: "",
                                        backgroundColor: "#228B22",
                                        data: jsonResponse.data.vaccination_data,
                                        pointRadius: 1,
                                        }
                                    ]
                                },
                                options: {
                                    responsive: true,
                                    title: {
                                        text: "Total Vaccinations",
                                        display: true,
                                        fontSize: 16,
                                        position: "left",
                                        fontColor: 'white',
                                    },
                                    legend: {
                                        display: false,
                                    },
                                }
                            });
                        }
                    })
                }
            </script>
        </div>
        <div class="ajaxify-charts">
            <div class="charts-column">
                <canvas id="confirmed-chart"></canvas>
                <canvas id="death-chart"></canvas>
                <canvas id="vaccination-chart"></canvas>
            </div>
        </div>
        
        
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            loadGlobalCharts()
        })
    </script>

    <script type="text/javascript">
        function myFunction() {
            // Declare variables
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName('li');

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("button")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>

    <script type="text/javascript">
        function myFunctiontwo() {
            // Declare variables
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInputtwo');
            filter = input.value.toUpperCase();
            ul = document.getElementById("myULtwo");
            li = ul.getElementsByTagName('li');

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("button")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>

    <script type="text/javascript">
        function myFunctionthree() {
            // Declare variables
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInputthree');
            filter = input.value.toUpperCase();
            ul = document.getElementById("myULthree");
            li = ul.getElementsByTagName('li');

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("button")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
{% endblock content %}