html, body {
    margin: 0;
}

body {
    background: #131b28;
    color: white;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #2d3956;
    height: 9vh;
}

.content {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    max-width: 100vw;
    max-height: 91vh;
    border: 8px solid #131b28;
    align-content: flex-start;
    /* overflow: hidden; */
}

.total-confirmed {
    background: #222c45;
    border: 1px solid #222c45;
    border-radius: 10px;
    width: 16.8vw;
    height: 14.5vh;
    margin-bottom: 8px;
    text-align: center;
    margin-right: 8px;
    line-height: 4vh;
}

.total-confirmed-stats {
    display: flex;
    flex-flow: column wrap;
    background: #222c45;
    border: 1px solid #222c45;
    border-radius: 10px;
    width: 16.8vw;
    text-align: center;
    margin-right: 8px;
    justify-content: flex-start;
    height: calc(76.5vh - 24px);
}

.total-confirmed-label {
    height: 10%;
}

.total-confirmed-table {
    overflow-y: scroll;
    height: 90%;
}

.total-confirmed-table::-webkit-scrollbar {
    width: 10px;
}

.total-confirmed-table::-webkit-scrollbar-track {
    background: #46526f;
    border-radius: 10px;
}

.total-confirmed-table::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.total-confirmed-table::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
}

.total-confirmed-table li {
    text-align: left;
    list-style-type: none;
}

.total-confirmed-table span {
    font-weight: bolder;
    font-size: 1.1vw;
}

.trending-news {
    width: 50vw;
    height: 12vh;
    background: #222c45;
    border: 1px solid #222c45;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 8px;
    margin-right: 8px;
}

.trending-news-label {
    height: 15%;
}

.trending-news a {
    color: white;
    text-decoration: none;
}

.trending-items {
    overflow-y: scroll;
    height: calc(85% - 16px);
    margin-top: 6px;
}

.trending-news a:hover {
    color: #0058e7;
}

.new-news {
    width: 50vw;
    height: 12vh;
    background: #222c45;
    border: 1px solid #222c45;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 8px;
    margin-right: 8px;
}

.new-news-label {
    height: 15%;
}

.new-news a {
    color: white;
    text-decoration: none;
}

.new-items {
    overflow-y: scroll;
    height: calc(85% - 16px);
    margin-top: 6px;
}

.new-news a:hover {
    color: #0058e7;
}

.trending-items::-webkit-scrollbar {
    width: 10px;
}

.trending-items::-webkit-scrollbar-track {
    background: #46526f;
    border-radius: 10px;
}

.trending-items::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.trending-items::-webkit-scrollbar-thumb:hover {
    background-color: #707070;

}
.new-items::-webkit-scrollbar {
    width: 10px;
}

.new-items::-webkit-scrollbar-track {
    background: #46526f;
    border-radius: 10px;
}

.new-items::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.new-items::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
}

#map {
    height: calc(67vh - 32px);
    width: 50vw;
    margin-right: 8px;
    flex-grow: 1;
    border-radius: 10px;
}

.total-deaths {
    background: #222c45;
    border: 1px solid #222c45;
    border-radius: 10px;
    width: calc((33.2vw - 40px)/2);
    height: 56.5vh;
    text-align: center;
    margin-bottom: 0.8vh;
}

.total-deaths-label {
    height: 20%;
    line-height: 3vh;
}

.total-deaths-stats {
    overflow-y: scroll;
    height: calc(80% - 20px);
}

.total-deaths-stats::-webkit-scrollbar {
    width: 10px;
}

.total-deaths-stats::-webkit-scrollbar-track {
    background: #46526f;
    border-radius: 10px;
}

.total-deaths-stats::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.total-deaths-stats::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
}

.total-deaths-stats li {
    text-align: left;
    list-style-type: none;
}

.total-deaths-stats span {
    font-weight: bolder;
    font-size: 1.1vw;
}

.total-recovered {
    margin-left: 8px;
    background: #222c45;
    border: 1px solid #222c45;
    border-radius: 10px;
    width: calc((33.2vw - 40px)/2);
    height: 56.5vh;
    text-align: center;
}

.total-recovered-label {
    height: 20%;
    line-height: 3vh;
}

.total-recovered-stats {
    overflow-y: scroll;
    height: calc(80% - 20px);
}

.total-recovered-stats::-webkit-scrollbar {
    width: 10px;
}

.total-recovered-stats::-webkit-scrollbar-track {
    background: #46526f;
    border-radius: 10px;
}

.total-recovered-stats::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.total-recovered-stats::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
}

.total-recovered-stats li {
    text-align: left;
    list-style-type: none;
}

.total-recovered-stats span {
    font-weight: bolder;
    font-size: 1.1vw;
}

.unemployment {
    position: relative;
    left: calc((33.2vw - 40px)/-2);
    margin-top: 8px;
    width: calc(33.2vw - 32px);
    height: 20vh;
    background: #222c45;
    border: 1px solid #222c45;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 8px;
}

.last-updated {
    position: relative;
    left: calc((33.2vw - 40px)/-2);
    width: calc(33.2vw - 32px);
    height: calc(14.5vh - 32px);
    background: #222c45;
    border: 1px solid #222c45;
    border-radius: 10px;
    text-align: center;
}

#myInput {
    /* background-position: 10px 12px; Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 1vw; /* Increase font-size */
    padding: 1vh 2vw 1vh 0.5vw; /* Add some padding */
    border: 1px solid white; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    outline: none;
    height: 3vh;
    background-color: #222c45;
    color: white;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myInputtwo {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 1vw; /* Increase font-size */
    padding: 1vh 2vw 1vh 0.5vw; /* Add some padding */
    border: 1px solid white; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    outline: none;
    height: 3vh;
    background-color: #222c45;
    color: white;
}

#myULtwo {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myInputthree {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 1vw; /* Increase font-size */
    padding: 1vh 2vw 1vh 0.5vw; /* Add some padding */
    border: 1px solid white; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    outline: none;
    height: 3vh;
    background-color: #222c45;
    color: white;
}

#myULthree {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input::placeholder {
    color: white;
}

.collapsible {
    background-color: #222c45;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    padding: 0;
}

.collapsible:focus {
    outline:0;
}
  
.active, .collapsible:hover {
    font-weight: 700;
    outline: none;
    border: none;
}
  
.contents {
    display: none;
    overflow: hidden;
    background-color: #2d3956;
    border-radius: 5px;
    color: white;
    font-size: 0.8vw;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}

#tc-p1 {
    font-size: 1vw; 
    margin: 0; 
    margin-top: 1vh;
}

#tc-h {
    color: #f4c430; 
    font-size: 2.3vw; 
    font-weight: bolder; 
    margin-top: -1vh;
}

#tc-p2 {
    color: #f4c430; 
    font-weight: bold; 
    font-size: 1vw; 
    margin-top: -1vh;
}

#td-p1 {
    font-size: 1vw; 
    margin: 0; 
    margin-top: 1.3vh;
}

#td-h {
    color: #cf352e; 
    font-size: 2vw; 
    font-weight: bolder;
}

#td-p2 {
    color: #cf352e; 
    font-weight: bold; 
    font-size: 1vw; 
    margin-top: -1vh;
}

#tr-p1 {
    margin: 0px; 
    margin-top: 1.3vh; 
    font-size: 1vw;
}

#tr-h {
    color: #228b22; 
    font-size: 2vw; 
    font-weight: bolder;
}

#tr-p2 {
    color: #228b22; 
    font-weight: bold; 
    font-size: 1vw; 
    margin-top: -1vh;
}

#tcl-p1 {
    color: #c6c6cc; 
    margin-top: 1.5vh; 
    font-size: 0.9vw;
}

#tcl-p2 {
    color: #c6c6cc; 
    margin-top: -14px; 
    font-size: 0.9vw;
}

#myUL-s1 {
    color: #f4c430;
}

#myUL-s2 {
    font-size: 0.9vw;
}

#trending-p {
    color: #cf352e; 
    font-weight: 700; 
    margin-top: 10px; 
    font-size: 0.9vw;
}

#trending-a {
    font-size: 0.9vw;
}

#new-p {
    color: orange; 
    font-weight: 700; 
    margin-top: 10px; 
    font-size: 0.9vw;
}

#new-a {
    font-size: 0.9vw;
}

#unemployment-h2 {
    margin-top: 5.2vh; 
    font-size: 1.8vw;
}

#unemployment-h1 {
    color: #cf352e; 
    margin-top: 15px; 
    font-size: 2vw;
}

#updated-p {
    margin-top: 2vh; 
    font-size: 2vh;
}

#updated-h {
    margin-top: -2vh; 
    color: #b8b8b8; 
    font-size: 2.5vh;
}

@media only screen and (max-width: 700px) {
    .content {
        flex-flow: row wrap;
        justify-content: center;
    }
    .bg-steel {
        height: 90px;
    }
    .navbar-nav a {
        font-size: 14px;
    }
    .navbar-brand {
        font-size: 14px;
    }
    .content > .total-confirmed {
        order: 1;
        width: 100vw;
        margin-right: 0;
        height: 100px;
        line-height: 28px;
    }
    #tc-p1 {
        font-size: 14px;
    }
    #tc-h {
        font-size: 24px;
    }
    #tc-p2 {
        font-size: 14px;
    }
    #td-p1 {
        font-size: 14px;
    }
    #td-h {
        font-size: 24px;
    }
    #td-p2 {
        font-size: 14px;
    }
    #tr-p1 {
        font-size: 14px;
    }
    #tr-h {
        font-size: 24px;
    }
    #tr-p2 {
        font-size: 14px;
    }
    #tcl-p1 {
        font-size: 2vw;
        margin-top: 1vh;
    }
    
    #tcl-p2 {
        font-size: 2vw;
    }
    #myInput {
        height: 30px;
        font-size: 16px;
    }
    #myUL-s1 {
        color: #f4c430;
        font-size: 16px;
    }
    
    #myUL-s2 {
        font-size: 16px;
    }
    #trending-p {
        font-size: 16px;
    }
    #trending-a {
        font-size: 14px;
    }
    #new-p {
        font-size: 16px;
    }
    #new-a {
        font-size: 14px;
    }
    #unemployment-h2 { 
        font-size: 18px;
    }
    
    #unemployment-h1 {
        font-size: 24px;
    }
    #updated-p {
        font-size: 14px;
    }
    
    #updated-h {
        font-size: 16px;
    }
    
    .total-confirmed-stats {
        order: 4;
        width: 100%;
        margin-right: 0;
        height: 500px;
    }
    .content > .trending-news {
        order: 6;
        width: 100%;
        margin-top: 8px;
        margin-right: 0;
        height: 250px;
    }
    .content > .new-news {
        order: 7;
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
        height: 250px;
    }
    .content > #map {
        order: 5;
        width: 100%;
        margin-right: 0;
        margin-top: 8px;
        height: 400px;
    }
    .content > .total-deaths { 
        order: 2; 
        max-width: calc((100vw - 40px)/2);
        width: 100%;
        height: 100px;
        margin-bottom: 8px;
        margin-right: 8px;
    }
    .total-deaths-stats {
        display: none;
    }
    .total-deaths-label {
        line-height: 24px;
    }
    .content > .total-recovered {
        order: 3;
        max-width: calc((100vw - 40px)/2);
        width: 100%;
        height: 100px;
        margin-left: 0;
        margin-bottom: 8px;
    }
    .total-recovered-stats {
        display: none
    }
    .total-recovered-label {
        line-height: 24px;
    }
    .content > .unemployment {
        order: 8;
        width: 100%;
        left: 0;
        top: 0;
        height: 150px;
    }
    .content > .last-updated {
        order: 9;
        width: 100%;
        left: 0;
        margin-bottom: 8px;
        height: 70px;
    }
    .contents {
        font-size: 2.5vw;
    }
    .contents .confirmed { 
        font-size: 2vw;
    }
    .contents .recovered {
        font-size: 2vw;
    }
    .contents .deaths {
        font-size: 2vw;
    }
}